In [1]:
import os, re
import csv
import numpy as np
import pandas as pd
from collections import defaultdict
from bs4 import BeautifulSoup
import spacy
spacy.load('en_core_web_sm')
nlp = spacy.load('en')

## Sentence length

In [2]:
cornell_texts = []
with open('cornell_all_reviews.txt', 'r+') as fo:
    cornell_texts = fo.readlines()

In [3]:
cornell_sent_lengths = []
cornell_sent_count = []

for text in cornell_texts:
    strip = text.strip()
    if strip:
        doc = nlp(strip)
        num_words = 0
        num_sents = 0
        for s in doc.sents:
            num_words += len(s)
            num_sents += 1
        cornell_sent_lengths.append(num_words)
        cornell_sent_count.append(num_sents)

In [4]:
movies_texts = []
with open('movies_all_reviews.txt', 'r+') as fo:
    movies_texts = fo.readlines()

In [5]:
movies_sent_lengths = []
movies_sent_count = []

for text in movies_texts:
    strip = text.strip()
    if strip:
        doc = nlp(strip)
        num_words = 0
        num_sents = 0
        for s in doc.sents:
            num_words += len(s)
            num_sents += 1
        movies_sent_lengths.append(num_words)
        movies_sent_count.append(num_sents)

In [6]:
cornell_texts[:5]

['\n',
 '\n',
 "both films consist of a predominately male cast . both films follow young men as they illicitly fight the traditional system for their own desires . and both films are seen through the eyes of one narrator , who eventually realizes that these men have to be stopped . while boiler room writer/director ben younger does not get his point across as well as david fincher does for fight club , he does contribute another impressive work to a series of films aiming to represent the new generation . a generation which has seen the internet prosper and where everyone wants to be a millionaire . paying homage to oliver stone's 1987 classic wall street , younger is almost modernizing the tale by using younger , hipper actors to play the greedy villains as opposed to the older , more experienced types . as is true in real life , younger minds are becoming richer and richer from their knowledge of more standard technology . boiler room dismisses the notion of ingenuity and shows that greed and desire for power come in all ages . another similarity with fight club is that both films are not action flicks . some people are convinced that an all-male cast automatically means there must be gory violence , here is proof that this is not true . if you want to see an action movie starring ben affleck , go see reindeer games this weekend . if you want to see a smart , insightful film with excellent acting and a clever script , see boiler room . giovanni ribisi gives an outstanding performance as the film's narrator , seth . after dropping out of college and running a lucrative gambling center for college students in his apartment , seth is offered a high paying job by a wealthy man ( nicky katt ) . he agrees to take the job ( in which you are guaranteed to become a millionaire within three years ) of selling stock to well-off americans from the mid-west over the telephone and begins to fit in quite well with his co-workers . learning tricky techniques to deceive innocent people into buying shares of a good in production , seth figures this is too good to be true . after stumbling into a room at the wrong time , he knows there is something no good about this company . at this point , seth is left with the ultimate choice ; continue with the american dream and make millions or tell the authorities that something fishy is going on . ribisi is believable as seth especially when he shares scenes with ron rifkin , playing seth's dad . the two have perfect chemistry as a troubled father and son trying to impress each other and simultaneously impress themselves . the transitions from anger to sympathy that these scenes contain are the standout segments of the entire film . the supporting cast of greedy co-workers is also flawless . ben affleck shines in a short but sweet performance as a recruiter for the company , nicky katt is fabulous as the ostensibly friendly boss who eventually becomes extremely jealous of seth , and vin diesel gives his best performance of his career as the foil character of nicky katt . the energy of the cast as a whole makes boiler room well paced and never boring . the only major error in the film is that nothing major happens . there is no big plot twist or climatic point to make the film more memorable . due to the lack of a major event , boiler room never finds a suitable genre to fit into . the movie is not intense enough to be a thriller , the romantic segments involving seth and abby ( nia long ) are not properly finalized , and the dialogue isn't funny enough to make it a comedy . in having trouble to characterize the movie as a whole , boiler room is slightly confused at times . it doesn't seem to know which category to fit itself into . one satisfying concluding scene could have changed the whole film for the better . otherwise , the movie is fun to watch thanks to its lively cast of young actors .\n",
 '\n',
 'now before you go assuming i\'m some sort of high brow snob , who can\'t appreciate a little dumb humor , let me say that i love cheap humor . i thought there\'s something about mary was one of the funniest films that i have ever seen and it was certainly one of the best films of 1998 . low brow adolescent humor can be a lot of fun , the problem with the waterboy is that it is just low brow and adolescent , there is no humor component . i wanted to like the waterboy , i really did . i think i only laughed maybe 2 or 3 times throughout the entire movie . actually , i smiled a couple of more times on top of that . not a great record for a 90-minute film . the problem with the waterboy is the same as most other adam sandler movies . those responsible for this mess seem to think that the sheer fact that sandler walks around using a goofy voice and playing dumb the entire movie is a substitute for actual funny material . nothing could be further from the truth , as matter of fact , sandler\'s idiot voice started to get on my nerves at points in this film . it\'s really a shame too , because this film had the potential to be very funny . i personally believe that sandler is probably a very talented comedian , it\'s just that so far he hasn\'t been able to find the right film to showcase his talents . if his only talent is making goofy voices and playing morons , my guess is that his career in the movies will go down the same road as the vast majority of the former stars of saturday night live . most of whom are now happily no longer in the entertainment industry . sandler plays a 31-year-old , somewhat mentally challenged , waterboy for a college football team . the team\'s somewhat mentally disturbed coach ( henry winkler ) realizes that his waterboy has a great deal of pent-up rage , which , if harnessed properly , would make him a force to be reckoned with on the football field . you can figure out the rest from here . sandler joins the team and this once lowly waterboy becomes a football star . as i said , the film had a great deal of potential . the idea was a decent one , but the main potential of this movie is a result of the cast . all of whom are very good , just hamstrung by really , really , lousy material . even sandler , annoying goofy voice and all , has enough charisma and natural comedic ability to overcome some of his bad material . even as unfunny as his character is , i still found myself rooting for him throughout the film . but it is the supporting cast that i feel most badly about . if their material had been just a bit better , this film could have been such a funny movie . fairuza balk plays sandler\'s leather-wearing biker-chick love interest and does a great job playing sleazy and sexy at the same time . winkler is great as the coach who uses a " coaching for dummies " -style book to help him get through games . the real standout though , is kathy bates . even with some of the worst material of her career to deal with , she is still a treat to watch in her role as sandler\'s overprotective and overbearing mama . even with the performances of bates and winkler , there is absolutely no way i would recommend this movie . although i get the distinct impression that without them , this film would have ranked in negative numbers for me . which is sad , because i can\'t really put my finger on a particular element of the movie and single it out as the cause of the disaster that it became . it\'s obvious that those involved , specifically the actors , tried very hard to make what they thought was going to be a funny movie . it\'s just too bad that 99 percent of all of the jokes fell flat .\n']

In [7]:
movies_texts[:5]

['Aug. 2, 2007 Watchers who warned that a six-year gap between installments would cost the \'Rush Hour\' franchise some energy \' especially from Jackie Chan, now in his early 50s \' aren\'t entirely off the mark. But the latest picture to feature one of the movies\' oddest crime-fighting tandems nevertheless stays true to the franchise formula of East-West fusion action, broad cultural comedy and international intrigue, this time largely in Paris. August rollout is like money in the bank for New Line, which will milk this likely final installment for maximum revenues down the ancillary stream. Though late summer timing is just right for the franchise, "Rush Hour 3" opens just a week after "The Bourne Ultimatum," and while auds may take some relief in the bouncy comic rapport between Chan and Chris Tucker, they\'re bound to find the action mild if not downright tame by comparison. The action bar has been raised to exceptional heights -- higher than even the great Chan can leap across. It may take younger viewers awhile to figure out the background plot in the new pic, since screenwriter Jeff Nathanson (who also wrote the superior "Rush Hour 2") revives characters from the first "Rush Hour": Chinese Ambassador Han (Tzi Ma) and his now-20-year-old daughter Soo Yung (now played by Zhang Jingchu, from "Peacock" and "Seven Swords"). Han is shot by an assassin in Los Angeles just as he\'s ready to blow the cover on a secret triad conspiracy before the World Criminal Court. Carter (Tucker) has been demoted by the LAPD to mere traffic cop, a job he executeswith his usual soul-hipster musical-comedy flair. As bodyguard to Han, Lee chases the assassin across downtown Los Angeles freeway ramps and bridges (where Chan has a few minutes for impressive stunt work that doesn\'t involve hand-to-hand or foot-to-foot combat), only to discover the culprit is Kenji (the busy Hiroyuki Sanada), his long-lost companion and "brother" from their childhood orphanage. Emotionally unable to shoot Kenji, Lee lets him get away. This sets up a potentially more interesting personal conflict for Lee than in "Rush Hour 2," in which his character had to confront his father\'s ex-partner and murderer. It\'s not to be, however: The Lee-Kenji battle never goes beyond the emotional level of a stare-off. Carter and Lee hunt down an envelope with key info on the triad conspiracy. Until recently, the evidence had been under Soo Yung\'s care at her kung fu studio in Chinatown (where the guys have a hilarious run-in with a giant dude played wordlessly by Sun Ming Ming, who makes Yao Ming look like a runt). Triad henchmen now have the envelope, but with a little bit of (witty) torture, the duo determine the truth lies with Genevieve (the exotic Noemie Lenoir), the star attraction at an underground Paris nitery. The old black-Asian cultural parries between Lee and Carter have been retired; now in Paris, it\'s Americans vs. the French --hence characters like stuck-up taxi driver George (Yves Attal), who\'s so Americanized he dons a Lakers cap and thinks he\'s an international spy. Shift is a bit of a stretch, but the Gallic friction is made more amusing by Roman Polanski (making a terrific uncredited cameo as Paris\' sadistic police chief) and the wonderful Julie Depardieu as George\'s highly skeptical wife. Also involved in all this is World Criminal Court topper Reynard (Max Von Sydow), who may or may not be the upholder of global justice his title suggests. By the time Kenji phones Lee for a final confab at the Eiffel Tower, two things will be obvious to attentive viewers: Pic is following the always-compact "Rush Hour" formula, down to wrapping things up in less than 90 minutes\' playing time; and Chan has far fewer stunt set pieces here than in any previous film in which he\'s starred. Jumps, thrusts and falls across and down the Eiffel are quite impressive, despite a few visible CGI effects, and the capper stunt involving a giant French flag is just goofy enough. Still, the pic ends rather flatly; the previous adrenaline rush just isn\'t there anymore. As if to compensate for an understandable diminution of physical prowess and martial artistry, Chan moves more aggressively into purely comic territory, offering a preview of his second career as a comedy star. By contrast, Tucker\'s shtick is starting to feel long in the tooth, and the thesp feels increasingly like a second fiddle. Sanada, always a strong presence, has an underwritten role that cheats the pic of several juicy action and psychodrama possibilities. Lenoir and Attal uphold their Gallic pride, while Von Sydow plays the role Hollywood has regularly tagged to this supremely great actor: The Elegant European. Helmer Ratner knows the "Rush Hour" routine by heart, and production values, even with several new contributors to the franchise (including solid lenser J. Michael Muro), maintain the franchise\'s sharp, shiny look.\n',
 '\n',
 "Aug 30, 2006 As modest as a mash note scrawled by a very shy English major onto a bar napkin, Funny Ha Ha , the first movie written and directed by Andrew Bujalski, was hailed as the fresh voice of a generation. If you see his follow-up, the charming if a wee-bit-too-wee Mutual Appreciation , you'll know why. Bujalski's characters still talk in spilled ironic fragments, rationalizing their tiniest impulses (for a kiss, a joke, a beer), turning every thought, every moment, into a coyly halting ''creative'' observation. This time, though, Bujalski works in streaky black and white, looking back all the more to Cassavetes and the Left Bank conversational epic The Mother and the Whore . The central figure, Alan (Justin Rice), with his bed head and his grin of shy vanity, is an aspiring indie rocker, which means that he has a ''band'' that consists of whomever he happens to be jamming with that week, at gigs attended mostly by his friends. In Brooklyn, Alan is staying with an old buddy, Lawrence (played by Bujalski), who's like Gary Dell'Abate as a young computer geek, and he also has a quasi-flirtation going with Lawrence's girlfiend, Ellie (Rachel Clift), who treats her romantic desires as an inconvenience, a disruption of the nervous, stuttery we're-all-boho-comrades-here style she wears like armor. If this is the sound of a new generation, then it may be the first generation cautious enough to embrace friendship as mightier than love.\n",
 '\n',
 "Tuesday, Dec 12 2006 Given what an awful stiff Somerset Maugham can be, it's remarkable how many movies have been made of his uptight tales of civil servants sweating it out in British colonies (48 for the big screen alone). John Curran 's fresh take on Maugham's novel The Painted Veil , from a crisp script by Philadelphia screenwriter Ron Nyswaner , is sober and delicate but downright buoyant compared to a dull 1934 adaptation starring a miscast Greta Garbo , and a 1957 remake, The Seventh Sin , that tanked on arrival. Edward Norton makes a pretty impressive stiff himself as Walter, a research doctor who, after marrying up and badly to bored socialite Kitty (a suitably brittle Naomi Watts ), moves to Shanghai , where he immerses himself in the study of infectious disease, while she immerses herself in a caddish vice-consul (Liev Schreiber ). Galvanized out of his insipid servility by jealous rage, Walter hauls the missus off to a cholera-ridden rural outpost, where the two gradually defrost in mutual devotion to duty. Bolstered by a strong ensemble Infamous 's Toby Jones as a deputy commissioner gone native, and a wonderfully wrinkled Diana Rigg as a Mother Superior, speaking up for disillusioned decencyand by the ecstatic cinematography of Stuart Dryburgh , The Painted Veil lifts Maugham's story clear of its prissy, attenuated spirituality, and into genuine passion.\n"]

In [8]:
sum(cornell_sent_lengths) / sum(cornell_sent_count)

22.674497203740472

In [9]:
sum(movies_sent_lengths) / sum(movies_sent_count)

26.91007615532716

## Word length

In [10]:
cornell_df = pd.read_csv('pos/Cornell_pos.csv', index_col=0).dropna()

/home/vgautam/.local/lib/python3.5/site-packages/numpy/lib/arraysetops.py:522: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [11]:
cornell_df.head()

   text_num  token    pos
0         1  magoo   NOUN
1         1      '  PUNCT
2         1    was   VERB
3         1     by    ADP
4         1    far    ADV

In [12]:
movies_df = pd.read_csv('pos/Movies_pos.csv', index_col=0).dropna()

/home/vgautam/.local/lib/python3.5/site-packages/numpy/lib/arraysetops.py:522: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [13]:
movies_df.head()

   text_num    token    pos
0         0  Tuesday  PROPN
1         0        ,  PUNCT
2         0      Sep  PROPN
3         0       18    NUM
4         0     2007    NUM

In [14]:
cornell_df['token'].str.len().mean()

4.006302449392916

In [15]:
movies_df['token'].str.len().mean()

4.170183282992839

## Relative frequency of 'film' and 'pic' and 'I'

In [16]:
len(cornell_df[cornell_df['token'].str.lower() == 'film']) / len(cornell_df)

0.006090563036191126

In [17]:
len(movies_df[movies_df['token'].str.lower() == 'film']) / len(movies_df)

0.0025482685976582595

In [18]:
len(cornell_df[cornell_df['token'].str.lower() == 'pic']) / len(cornell_df)

4.678878539655167e-06

In [19]:
len(movies_df[movies_df['token'].str.lower() == 'pic']) / len(movies_df)

0.0006290527247239376

In [20]:
len(cornell_df[cornell_df['token'].str.lower() == 'i']) / len(cornell_df)

0.005574549574389156

In [21]:
len(movies_df[movies_df['token'].str.lower() == 'i']) / len(movies_df)

0.0012362382774443092

## Lexical diversity

In [22]:
lexdiv = []

for text in cornell_texts:
    strip = text.strip()
    if strip:
        doc = nlp(strip)

        numtokens = 0
        types = set()
        
        for s in doc.sents:
            for w in s:
                if not re.match('[^a-zA-Z]+$', w.text):
                    numtokens += 1
                    types.add(w.text)
                    
        lexdiv.append(len(types)/numtokens)

In [23]:
sum(lexdiv)/len(lexdiv)

0.5335532169077012

In [24]:
lexdiv = []

for text in movies_texts:
    strip = text.strip()
    if strip:
        doc = nlp(strip)

        numtokens = 0
        types = set()
        
        for s in doc.sents:
            for w in s:
                if not re.match('[^a-zA-Z]+$', w.text):
                    numtokens += 1
                    types.add(w.text)
                    
        lexdiv.append(len(types)/numtokens)

In [25]:
sum(lexdiv)/len(lexdiv)

0.6367346200111095

## Word and POS unigrams and bigrams

In [26]:
stopwords = pd.read_csv('smart.csv', header=None, names=['stopword']).drop_duplicates()

In [27]:
cornell_denominator = len(cornell_df['token'].str.isalpha().index)
movies_denominator = len(movies_df['token'].str.isalpha().index)

In [28]:
cornell_pos_counts = cornell_df['pos'].value_counts().reset_index().rename({'pos':'counts','index':'unigram'}, axis=1)
cornell_pos_counts['freq'] = cornell_pos_counts['counts'] / cornell_denominator * 1000000
cornell_pos_counts

   unigram  counts           freq
0     NOUN  337960  225896.255895
1     VERB  231400  154670.356297
2    PUNCT  207112  138435.984586
3      ADJ  155540  103964.681151
4      ADP  153692  102729.457217
5      DET  143253   95751.912492
6      ADV   98739   65998.255447
7     PRON   58717   39247.101602
8    CCONJ   47373   31664.644723
9     PART   40859   27310.614036
10     NUM   13692    9151.886424
11   PROPN    2635    1761.263565
12    INTJ    2521    1685.064685
13       X    1471     983.232905
14     SYM    1121     749.288978

In [29]:
cornell_tok_counts = cornell_df['token'].value_counts().reset_index().rename({'token':'counts','index':'unigram'}, axis=1)

_alpha = cornell_tok_counts[cornell_tok_counts['unigram'].str.isalpha()]
_merged = _alpha.merge(stopwords, left_on='unigram', right_on='stopword', how='left', indicator=True)
cornell_tok_counts = _merged[_merged['_merge'] == 'left_only'][['unigram', 'counts']]
cornell_tok_counts['freq'] = cornell_tok_counts['counts'] / cornell_denominator * 1000000
cornell_tok_counts.head(10)

       unigram  counts         freq
14        film    9112  6090.563036
26       movie    5435  3632.814980
61        time    2319  1550.045619
62        good    2316  1548.040385
68       story    2090  1396.979450
70   character    1988  1328.801505
78  characters    1824  1219.182065
85        make    1596  1066.784307
90        life    1518  1014.648232
97        plot    1439   961.843746

In [30]:
cornell_df['next_pos'] = cornell_df['pos'].shift(-1)
cornell_df['next_token'] = cornell_df['token'].shift(-1)

_alpha = cornell_df[cornell_df['token'].str.isalpha() & cornell_df['next_token'].str.isalpha()]
_merged = _alpha.merge(stopwords, left_on='token', right_on='stopword', how='left', indicator='indicator1')
_merged = _merged.merge(stopwords, left_on='next_token', right_on='stopword', how='left', indicator='indicator2')
cornell_tok_bi_counts = _merged[(_merged['indicator1'] == 'left_only') & (_merged['indicator2'] == 'left_only')][['token', 'next_token']]
cornell_tok_bi_counts['bigram'] = cornell_tok_bi_counts['token'].str.cat(cornell_tok_bi_counts['next_token'], sep=' ')
cornell_tok_bi_counts = cornell_tok_bi_counts['bigram'].value_counts().reset_index().rename({'bigram':'counts','index':'bigram'}, axis=1)
cornell_tok_bi_counts['freq'] = cornell_tok_bi_counts['counts'] / cornell_denominator * 1000000

cornell_tok_bi_counts.head(10)

             bigram  counts        freq
0   special effects     372  248.648974
1       high school     163  108.951029
2         star wars     157  104.940562
3       takes place     115   76.867290
4         star trek     115   76.867290
5   supporting cast     111   74.193645
6   science fiction     109   72.856823
7      running time     105   70.183178
8         years ago     100   66.841122
9  action sequences      94   62.830655

In [31]:
cornell_df['bigram'] = cornell_df['pos'].str.cat(cornell_df['next_pos'], sep=' ')
cornell_pos_bi_counts = cornell_df['bigram'].value_counts().reset_index().rename({'bigram':'counts','index':'bigram'}, axis=1)

cornell_pos_bi_counts['freq'] = cornell_pos_bi_counts['counts'] / cornell_denominator * 1000000

cornell_pos_bi_counts.head(10)

       bigram  counts          freq
0  NOUN PUNCT  109997  73523.228961
1    ADJ NOUN   86144  57579.616131
2    DET NOUN   84451  56447.995936
3    NOUN ADP   63355  42347.192840
4     ADP DET   59983  40093.310206
5   NOUN VERB   55045  36792.695602
6   NOUN NOUN   47858  31988.824164
7   PRON VERB   40849  27303.929924
8     DET ADJ   39131  26155.599448
9    VERB DET   38103  25468.472714

In [32]:
_lowered = movies_df
_lowered['token'] = movies_df['token'].str.lower()
movies_df = _lowered

In [33]:
movies_pos_counts = movies_df['pos'].value_counts().reset_index().rename({'pos':'counts','index':'unigram'}, axis=1)
movies_pos_counts['freq'] = movies_pos_counts['counts'] / movies_denominator * 1000000
movies_pos_counts

   unigram  counts           freq
0     NOUN  887201  188355.115230
1    PUNCT  711281  151006.834659
2     VERB  606224  128702.956123
3      ADP  496493  105406.775044
4      ADJ  474065  100645.251416
5    PROPN  432579   91837.664060
6      DET  407317   86474.474747
7      ADV  245750   52173.373979
8    CCONJ  146270   31053.507271
9     PART  126144   26780.704323
10    PRON  113198   24032.234335
11     NUM   53268   11308.937071
12    INTJ    3382     718.007531
13     SYM    3004     637.757133
14   SPACE    2848     604.637921
15       X    1233     261.769156

In [34]:
movies_tok_counts = movies_df['token'].value_counts().reset_index().rename({'token':'counts','index':'token'}, axis=1)

_alpha = movies_tok_counts[movies_tok_counts['token'].str.isalpha()]
_merged = _alpha.merge(stopwords, left_on='token', right_on='stopword', how='left', indicator=True)
movies_tok_counts = _merged[_merged['_merge'] == 'left_only'][['token', 'counts']]

movies_tok_counts['freq'] = movies_tok_counts['counts'] / movies_denominator * 1000000

movies_tok_counts.head(10)

       token  counts         freq
26     movie   12853  2728.725842
28      film   12003  2548.268598
52      time    6225  1321.583939
71  director    4767  1012.046689
72     story    4743  1006.951425
73       man    4715  1001.006951
76      life    4632   983.385832
89      good    3745   795.073390
90     world    3691   783.609047
99      make    3294   699.324899

In [39]:
movies_df['next_pos'] = movies_df['pos'].shift(-1)
movies_df['next_token'] = movies_df['token'].shift(-1)

_alpha = movies_df[movies_df['token'].str.isalpha() & movies_df['next_token'].str.isalpha()]
_merged = _alpha.merge(stopwords, left_on='token', right_on='stopword', how='left', indicator='indicator1')
_merged = _merged.merge(stopwords, left_on='next_token', right_on='stopword', how='left', indicator='indicator2')
movies_tok_bi_counts = _merged[(_merged['indicator1'] == 'left_only') & (_merged['indicator2'] == 'left_only')][['token', 'next_token']]
movies_tok_bi_counts['bigram'] = movies_tok_bi_counts['token'].str.cat(movies_tok_bi_counts['next_token'], sep=' ')
movies_tok_bi_counts = movies_tok_bi_counts['bigram'].value_counts().reset_index().rename({'bigram':'counts','index':'bigram'}, axis=1)

movies_tok_bi_counts['freq'] = movies_tok_bi_counts['counts'] / movies_denominator * 1000000
movies_tok_bi_counts.head(10)

                  bigram  counts        freq
0           running time    1074  228.013036
1            high school     618  131.203032
2            mpaa rating     582  123.560137
3          film festival     578  122.710926
4            los angeles     544  115.492637
5    production designer     529  112.308097
6         adult guardian     498  105.726715
7    accompanying parent     496  105.302110
8  requires accompanying     495  105.089807
9              years ago     428   90.865530

In [53]:
movies_df['bigram'] = movies_df['pos'].str.cat(movies_df['next_pos'], sep=' ')
movies_pos_bi_counts = movies_df['bigram'].value_counts().reset_index().rename({'bigram':'counts','index':'bigram'}, axis=1)

movies_pos_bi_counts['freq'] = movies_pos_bi_counts['counts'] / movies_denominator * 1000000

movies_pos_bi_counts.head(10)

        bigram  counts          freq
0   NOUN PUNCT  284686  60439.589602
1     ADJ NOUN  255576  54259.459728
2     DET NOUN  211206  44839.591555
3     NOUN ADP  208092  44178.481132
4      ADP DET  177829  37753.566313
5  PROPN PUNCT  139840  29688.401291
6  PROPN PROPN  135472  28761.063356
7    NOUN VERB  118256  25106.061092
8      DET ADJ  114339  24274.471648
9    NOUN NOUN  107177  22753.960134

In [37]:
cornell_pos_counts.round(2).to_csv('Cornell_POS.csv', index=None)
cornell_pos_bi_counts.round(2).to_csv('Cornell_POS_bigrams.csv', index=None)
cornell_tok_counts.round(2).to_csv('Cornell_tokens.csv', index=None)
cornell_tok_bi_counts.round(2).to_csv('Cornell_token_bigrams.csv', index=None)

In [54]:
movies_pos_counts.round(2).to_csv('Movies_POS.csv', index=None)
movies_pos_bi_counts.round(2).to_csv('Movies_POS_bigrams.csv', index=None)
movies_tok_counts.round(2).to_csv('Movies_tokens.csv', index=None)
movies_tok_bi_counts.round(2).to_csv('Movies_token_bigrams.csv', index=None)

In [48]:
print(len(movies_tok_bi_counts[movies_tok_bi_counts['counts'] == 1]))
print(len(movies_tok_bi_counts[movies_tok_bi_counts['counts'] == 1]) / movies_denominator * 1000000)

378457
80347.42053352928

In [50]:
print(len(cornell_tok_bi_counts[cornell_tok_bi_counts['counts'] == 1]))
print(len(cornell_tok_bi_counts[cornell_tok_bi_counts['counts'] == 1]) / cornell_denominator * 1000000)

95138
63591.30664367332