In [1]:
import requests
import pandas as pd
import numpy as np
import sys, os, re, time
import json, csv
from bs4 import BeautifulSoup
from collections import defaultdict

In [2]:
df = pd.DataFrame()

In [3]:
review_dir = 'nyt_reviews/'
for f in os.listdir(review_dir):
    print(f)
    tmp = pd.read_csv(review_dir+f, parse_dates=['opening_date', 'publication_date', 'date_updated'])
    df = pd.concat([df, tmp], axis=0)

nyt_reviews_part1.csv
nyt_reviews_part2.csv
nyt_reviews_part3.csv
nyt_reviews_part7.csv
nyt_reviews_part6.csv
nyt_reviews_part4.csv
nyt_reviews_part5.csv

In [4]:
len(df)

28154

In [5]:
len(df.drop_duplicates())

28144

In [6]:
df.head()

,display_title,headline,byline,link,mpaa_rating,opening_date,publication_date,date_updated,critics_pick,summary_short
0,Who Will Write Our History,‘Who Will Write Our History’ Review: A Vital H...,KEN JAWOROWSKI,http://www.nytimes.com/2019/01/17/movies/who-w...,NaN,2018-07-21,2019-01-17,2019-01-20 03:44:26,1,"The film, directed by Roberta Grossman, tells ..."
1,Don't Come Back from the Moon,‘Don’t Come Back From the Moon’ Review: When M...,JEANNETTE CATSOULIS,http://www.nytimes.com/2019/01/17/movies/dont-...,NaN,2019-01-18,2019-01-17,2019-01-20 03:44:25,1,Blending shimmering photography and a compassi...
2,Solo,"‘Solo’ Review: Alone, Like All the Others",SEAN T. COLLINS,http://www.nytimes.com/2019/01/17/movies/solo-...,NaN,nan,2019-01-17,2019-01-17 22:56:02,0,"With this opulent Spanish survival saga, Netfl..."
3,Glass,‘Glass’ Movie Review: A Nutty Ride With M. Nig...,MANOHLA DARGIS,http://www.nytimes.com/2019/01/17/movies/glass...,PG-13,2019-01-18,2019-01-17,2019-01-20 03:44:27,0,"In his enjoyable, messy sequel to “Unbreakable..."
4,The Standoff at Sparrow Creek,‘The Standoff at Sparrow Creek’ Review: Findin...,BEN KENIGSBERG,http://www.nytimes.com/2019/01/17/movies/the-s...,Not Rated,2019-01-18,2019-01-17,2019-01-20 03:44:26,0,"The film, written and directed by Henry Dunham..."

In [7]:
df.dtypes

display_title               object
headline                    object
byline                      object
link                        object
mpaa_rating                 object
opening_date                object
publication_date    datetime64[ns]
date_updated        datetime64[ns]
critics_pick                 int64
summary_short               object
dtype: object

In [8]:
df.describe()

       critics_pick
count  28154.000000
mean       0.122753
std        0.328160
min        0.000000
25%        0.000000
50%        0.000000
75%        0.000000
max        1.000000

In [12]:
df.drop_duplicates().to_csv('nyt_movie_reviews.csv', index=None)

In [13]:
df = pd.read_csv('nyt_movie_reviews.csv', parse_dates=['opening_date', 'publication_date', 'date_updated'])

In [14]:
df.dtypes

display_title               object
headline                    object
byline                      object
link                        object
mpaa_rating                 object
opening_date                object
publication_date    datetime64[ns]
date_updated        datetime64[ns]
critics_pick                 int64
summary_short               object
dtype: object

In [116]:
tmp = df['opening_date'].replace('nan', np.NaN).replace('0000-00-00', np.NaN)

In [119]:
tmp2 = tmp.str.extract('(\d\d\d\d)-(\d\d)-(\d\d)(.*)')

In [120]:
tmp2[1].replace('00', '01', inplace=True)
tmp2[2].replace('00', '01', inplace=True)

In [123]:
df['opening_date'] = pd.to_datetime(tmp2[0].str.cat([tmp2[1], tmp2[2]], sep='-'))

In [124]:
df.drop_duplicates().to_csv('nyt_movie_reviews.csv', index=None)