This notebook calculates summary statistics on all corpora in the `adverbly_adjectives` directory.

It assumes POS information is in the `pos` directory, and that hapax legomena lists are in the `hapax_legomena` directory.

COCA is special since it's so massive. COCA POS files are handled specially and expected to be in a directory named `COCA/POS`.

Summary statistics calculated include the number of words, as well as the number and relative frequencies of adverbly adjective pairs and hapax legomena.

In [1]:
import os, re
import csv
import numpy as np
import pandas as pd
from collections import defaultdict
from zipfile import ZipFile

In [2]:
coca_genre_count = defaultdict(int)

# numbers from download version counts in coca_wordcount.xlsx

coca_genre_count['Academic'] = 103274418
coca_genre_count['News'] = 99507332
coca_genre_count['Fiction'] = 103422167
coca_genre_count['Magazine'] = 108315219
coca_genre_count['Spoken'] = 107967025

for genre in coca_genre_count.keys():
    print(genre, coca_genre_count[genre])
    
    
# LEGACY CODE WHERE TOKENS WERE CONTINUED - DISREGARD!

# # required to translate the shortened versions of genre names to something that looks better in a summary sheet
# genre_dict = {
#     'spok' : 'Spoken',
#     'mag' : 'Magazine',
#     'acad' : 'Academic',
#     'news' : 'News',
#     'fic' : 'Fiction'
# }

# pos_path = 'COCA/POS/'
# zipfiles = [pos_path+f for f in os.listdir(pos_path) if f.endswith('.zip')]

# def deleteDir(dir):
#     try:
#         for f in os.listdir(dir):
#             os.remove(dir+f)
#         os.rmdir(dir)
#     except:
#         pass

# tmp_dir = '__tmp/'

# deleteDir(tmp_dir)

# # extract each zip file to a temporary directory and count the number of lines (representing num of words for that genre)
# for f in zipfiles:
#     os.makedirs(tmp_dir)
    
#     genre = genre_dict[f.split('/')[-1].split('.zip')[0]]
#     with ZipFile(f, 'r') as zip_f:
#         zip_f.extractall(tmp_dir)
    
#     lines = 0
    
#     #  iterate over all files/texts in current genre
#     for f in os.listdir(tmp_dir):
#         with open(tmp_dir+f, 'r', encoding='latin-1') as fo:
            
#             # count lines in current file
#             for l in fo:
#                 if not l.startswith('##'):
#                     lines += 1
    
#     coca_genre_count[genre] = lines
#     deleteDir(tmp_dir)

Spoken 107967025
News 99507332
Magazine 108315219
Fiction 103422167
Academic 103274418

In [3]:
total_word_counts = [['corpus', 'num_words']]
genre_word_counts = [['corpus', 'genre', 'num_words']]

path = 'pos/'
suffix = '_pos.csv'

# appends previously calculated COCA counts to the new array
coca_all = 0
for g in coca_genre_count:
    genre_word_counts.append(['COCA', g, coca_genre_count[g]])
    coca_all += coca_genre_count[g]
total_word_counts.append(['COCA', coca_all])

# iterates over all POS files to get word counts
files = [ path+f for f in os.listdir(path) if f.endswith(suffix)]

for f in files:
    corpusname = f.split(path)[1].split(suffix)[0]
    print(corpusname)
    df = pd.read_csv(f)
    
    # throw out any null values (shouldn't be any)
    df.dropna(inplace=True)
    
    # throw out anything that doesn't have at least one letter in it
    df = df[~ df['token'].str.match('[^a-zA-Z]+$')]
    
    # genre counts where possible
    if 'genre' in df.columns:
        grouped = df.groupby('genre')
        for genre,group in grouped:
            genre_word_counts.append([corpusname, str(genre), len(group.index)])
            
    if 'decade' in df.columns:
        grouped = df.groupby('decade')
        for genre,group in grouped:
            genre_word_counts.append([corpusname, str(genre), len(group.index)])
    
    # number of words is just the length of this pruned dataframe, because every row has only one word
    total_word_counts.append([corpusname, len(df.index)])

NYT

In [4]:
total_word_counts

[['corpus', 'num_words'], ['COCA', 522486161], ['NYT', 16689298]]

In [5]:
genre_word_counts

[['corpus', 'genre', 'num_words'],
 ['COCA', 'Spoken', 107967025],
 ['COCA', 'News', 99507332],
 ['COCA', 'Magazine', 108315219],
 ['COCA', 'Fiction', 103422167],
 ['COCA', 'Academic', 103274418],
 ['NYT', '1915', 696],
 ['NYT', '1916', 852],
 ['NYT', '1921', 1060],
 ['NYT', '1923', 331],
 ['NYT', '1924', 41661],
 ['NYT', '1925', 173527],
 ['NYT', '1926', 103028],
 ['NYT', '1927', 88640],
 ['NYT', '1928', 144421],
 ['NYT', '1929', 167730],
 ['NYT', '1930', 150095],
 ['NYT', '1931', 177937],
 ['NYT', '1932', 205237],
 ['NYT', '1933', 196341],
 ['NYT', '1934', 171464],
 ['NYT', '1935', 155712],
 ['NYT', '1936', 175797],
 ['NYT', '1937', 53731],
 ['NYT', '1938', 50193],
 ['NYT', '1939', 131466],
 ['NYT', '1940', 144511],
 ['NYT', '1941', 115224],
 ['NYT', '1942', 103499],
 ['NYT', '1943', 86984],
 ['NYT', '1944', 94849],
 ['NYT', '1945', 59508],
 ['NYT', '1946', 71301],
 ['NYT', '1947', 104409],
 ['NYT', '1948', 110873],
 ['NYT', '1949', 137206],
 ['NYT', '1950', 104079],
 ['NYT', '1951', 98798],
 ['NYT', '1952', 136491],
 ['NYT', '1953', 129210],
 ['NYT', '1954', 112604],
 ['NYT', '1955', 96509],
 ['NYT', '1956', 81256],
 ['NYT', '1957', 92188],
 ['NYT', '1958', 110495],
 ['NYT', '1959', 109194],
 ['NYT', '1960', 91757],
 ['NYT', '1961', 92109],
 ['NYT', '1962', 85490],
 ['NYT', '1963', 81645],
 ['NYT', '1964', 109155],
 ['NYT', '1965', 96076],
 ['NYT', '1966', 79641],
 ['NYT', '1967', 85547],
 ['NYT', '1968', 114462],
 ['NYT', '1969', 129765],
 ['NYT', '1970', 86270],
 ['NYT', '1971', 123885],
 ['NYT', '1972', 98282],
 ['NYT', '1973', 94390],
 ['NYT', '1974', 78025],
 ['NYT', '1975', 66709],
 ['NYT', '1976', 81867],
 ['NYT', '1977', 88056],
 ['NYT', '1978', 97944],
 ['NYT', '1979', 151708],
 ['NYT', '1980', 8490],
 ['NYT', '1981', 144235],
 ['NYT', '1982', 165405],
 ['NYT', '1983', 166081],
 ['NYT', '1984', 167948],
 ['NYT', '1985', 193000],
 ['NYT', '1986', 218506],
 ['NYT', '1987', 234663],
 ['NYT', '1988', 245096],
 ['NYT', '1989', 201040],
 ['NYT', '1990', 209384],
 ['NYT', '1991', 245788],
 ['NYT', '1992', 253086],
 ['NYT', '1993', 256285],
 ['NYT', '1994', 248878],
 ['NYT', '1995', 241776],
 ['NYT', '1996', 258082],
 ['NYT', '1997', 263877],
 ['NYT', '1998', 276272],
 ['NYT', '1999', 287427],
 ['NYT', '2000', 343686],
 ['NYT', '2001', 340280],
 ['NYT', '2002', 375224],
 ['NYT', '2003', 310410],
 ['NYT', '2004', 194317],
 ['NYT', '2005', 7013],
 ['NYT', '2006', 269696],
 ['NYT', '2007', 356185],
 ['NYT', '2008', 355767],
 ['NYT', '2009', 361576],
 ['NYT', '2010', 375422],
 ['NYT', '2011', 425715],
 ['NYT', '2012', 356459],
 ['NYT', '2013', 365428],
 ['NYT', '2014', 388537],
 ['NYT', '2015', 367919],
 ['NYT', '2016', 351403],
 ['NYT', '2017', 311811],
 ['NYT', '2018', 313572],
 ['NYT', '2019', 11669]]

In [6]:
total_adv_adj_counts = [['corpus', 'adv_adj_counts']]
genre_adv_adj_counts = [['corpus', 'genre', 'adv_adj_counts']]

# number of adverbly adjectives is just the length of the file containing the list for each corpus / genre, as applicable

basepath = 'adverbly_adjectives'
files = []
for corpus in os.listdir(basepath):
    for f_or_d in os.listdir(basepath+'/'+corpus):
        
        # handle genres
        if os.path.isdir(basepath+'/'+corpus+'/'+f_or_d):
            genres_list = [basepath+'/'+corpus+'/'+f_or_d+'/'+f for f in os.listdir(basepath+'/'+corpus+'/'+f_or_d)]
            corpus_count = 0
            for f in genres_list:
                genre = f.split(f_or_d+'/')[1].split('_pairs.csv')[0]
                df = pd.read_csv(f)
                genre_count = len(df.index)
                genre_adv_adj_counts.append([corpus, str(genre), genre_count])
                
        # handle master lists for each corpus
        else:
            assert os.path.isfile(basepath+'/'+corpus+'/'+f_or_d)
            file = basepath+'/'+corpus+'/'+f_or_d
            df = pd.read_csv(file)
            count = len(df.index)
            total_adv_adj_counts.append([corpus, count])

In [7]:
total_adv_adj_counts

[['corpus', 'adv_adj_counts'],
 ['Cornell', 4287],
 ['Movies', 15761],
 ['sfu_review', 596],
 ['COCA', 192751],
 ['NYT', 45771],
 ['SOCC', 31912],
 ['CORE', 42544]]

In [8]:
genre_adv_adj_counts

[['corpus', 'genre', 'adv_adj_counts'],
 ['sfu_review', 'HOTELS', 89],
 ['sfu_review', 'MOVIES', 95],
 ['sfu_review', 'BOOKS', 53],
 ['sfu_review', 'COOKWARE', 34],
 ['sfu_review', 'PHONES', 31],
 ['sfu_review', 'CARS', 139],
 ['sfu_review', 'COMPUTERS', 82],
 ['sfu_review', 'MUSIC', 112],
 ['COCA', 'Magazine', 75984],
 ['COCA', 'Academic', 63999],
 ['COCA', 'Fiction', 54574],
 ['COCA', 'News', 54082],
 ['COCA', 'Spoken', 34729],
 ['NYT', '1927', 230],
 ['NYT', '1928', 388],
 ['NYT', '1997', 1119],
 ['NYT', '2010', 1478],
 ['NYT', '1965', 444],
 ['NYT', '1942', 386],
 ['NYT', '1976', 346],
 ['NYT', '1989', 856],
 ['NYT', '1993', 1221],
 ['NYT', '2012', 1544],
 ['NYT', '1933', 540],
 ['NYT', '1957', 417],
 ['NYT', '1931', 368],
 ['NYT', '1987', 943],
 ['NYT', '1979', 650],
 ['NYT', '2001', 1136],
 ['NYT', '1958', 538],
 ['NYT', '1983', 765],
 ['NYT', '2013', 1529],
 ['NYT', '1975', 262],
 ['NYT', '1951', 394],
 ['NYT', '1956', 353],
 ['NYT', '2017', 1346],
 ['NYT', '1960', 406],
 ['NYT', '1930', 327],
 ['NYT', '1977', 423],
 ['NYT', '2006', 1003],
 ['NYT', '1996', 1167],
 ['NYT', '1910', 2],
 ['NYT', '2000', 1090],
 ['NYT', '2008', 1414],
 ['NYT', '1915', 2],
 ['NYT', '2004', 705],
 ['NYT', '1964', 514],
 ['NYT', '1962', 421],
 ['NYT', '1995', 1004],
 ['NYT', '1921', 1],
 ['NYT', '1978', 433],
 ['NYT', '1974', 303],
 ['NYT', '2009', 1396],
 ['NYT', '1946', 362],
 ['NYT', '1926', 235],
 ['NYT', '1935', 593],
 ['NYT', '1939', 452],
 ['NYT', '1968', 503],
 ['NYT', '1953', 632],
 ['NYT', '1966', 369],
 ['NYT', '1961', 433],
 ['NYT', '1949', 635],
 ['NYT', '1943', 277],
 ['NYT', '2005', 38],
 ['NYT', '1923', 0],
 ['NYT', '1959', 505],
 ['NYT', '1955', 382],
 ['NYT', '1982', 690],
 ['NYT', '1925', 337],
 ['NYT', '1973', 407],
 ['NYT', '1950', 462],
 ['NYT', '1924', 94],
 ['NYT', '2002', 1335],
 ['NYT', '1929', 437],
 ['NYT', '1969', 575],
 ['NYT', '1988', 1043],
 ['NYT', '1984', 734],
 ['NYT', '1990', 916],
 ['NYT', '1992', 1080],
 ['NYT', '2011', 1649],
 ['NYT', '1954', 499],
 ['NYT', '1916', 0],
 ['NYT', '1999', 1146],
 ['NYT', '2019', 68],
 ['NYT', '1952', 596],
 ['NYT', '1941', 408],
 ['NYT', '2015', 1483],
 ['NYT', '1937', 195],
 ['NYT', '2018', 1511],
 ['NYT', '1940', 568],
 ['NYT', '2016', 1487],
 ['NYT', '1967', 418],
 ['NYT', '1920', 1404],
 ['NYT', '1980', 39],
 ['NYT', '1944', 387],
 ['NYT', '1981', 594],
 ['NYT', '1998', 1166],
 ['NYT', '1936', 576],
 ['NYT', '1972', 497],
 ['NYT', '1985', 799],
 ['NYT', '1934', 542],
 ['NYT', '1994', 1060],
 ['NYT', '1970', 420],
 ['NYT', '1971', 509],
 ['NYT', '1986', 866],
 ['NYT', '2014', 1591],
 ['NYT', '1948', 520],
 ['NYT', '1932', 482],
 ['NYT', '2007', 1324],
 ['NYT', '1938', 157],
 ['NYT', '2003', 1062],
 ['NYT', '1963', 370],
 ['NYT', '1991', 1155],
 ['NYT', '1947', 481],
 ['NYT', '1945', 277],
 ['CORE', 'Interactive_Discussion', 3466],
 ['CORE', 'Information_Persuasion', 1901],
 ['CORE', 'Narrative', 17223],
 ['CORE', 'Opinion', 20581],
 ['CORE', 'Lyrical', 168],
 ['CORE', 'Information_Description', 11401],
 ['CORE', 'How-to__Instructional', 1868],
 ['CORE', 'Spoken', 1457]]

In [9]:
total_hapax_legomena_counts = [['corpus', 'hapax_legomena_counts']]
genre_hapax_legomena_counts = [['corpus', 'genre', 'hapax_legomena_counts']]

# number of adverbly adjectives is just the length of the file containing the list for each corpus / genre, as applicable

basepath = 'hapax_legomena'
files = []
for corpus in os.listdir(basepath):
    for f_or_d in os.listdir(basepath+'/'+corpus):
        if os.path.isdir(basepath+'/'+corpus+'/'+f_or_d):
            genres_list = [basepath+'/'+corpus+'/'+f_or_d+'/'+f for f in os.listdir(basepath+'/'+corpus+'/'+f_or_d)]
            corpus_count = 0
            for f in genres_list:
                genre = f.split(f_or_d+'/')[1].split('_pairs.csv')[0]
                df = pd.read_csv(f)
                genre_count = len(df.index)
                genre_hapax_legomena_counts.append([corpus, str(genre), genre_count])
                
        else:
            assert os.path.isfile(basepath+'/'+corpus+'/'+f_or_d)
            file = basepath+'/'+corpus+'/'+f_or_d
            df = pd.read_csv(file)
            count = len(df.index)
            total_hapax_legomena_counts.append([corpus, count])

In [10]:
total_hapax_legomena_counts

[['corpus', 'hapax_legomena_counts'],
 ['Cornell', 3710],
 ['Movies', 13977],
 ['sfu_review', 550],
 ['COCA', 128845],
 ['NYT', 37118],
 ['SOCC', 22022],
 ['CORE', 30276]]

In [11]:
genre_hapax_legomena_counts

[['corpus', 'genre', 'hapax_legomena_counts'],
 ['sfu_review', 'HOTELS', 86],
 ['sfu_review', 'MOVIES', 93],
 ['sfu_review', 'BOOKS', 52],
 ['sfu_review', 'COOKWARE', 31],
 ['sfu_review', 'PHONES', 28],
 ['sfu_review', 'CARS', 131],
 ['sfu_review', 'COMPUTERS', 79],
 ['sfu_review', 'MUSIC', 102],
 ['COCA', 'Magazine', 54816],
 ['COCA', 'Academic', 45509],
 ['COCA', 'Fiction', 41222],
 ['COCA', 'News', 39213],
 ['COCA', 'Spoken', 23138],
 ['NYT', '1927', 211],
 ['NYT', '1928', 355],
 ['NYT', '1997', 1081],
 ['NYT', '2010', 1410],
 ['NYT', '1965', 434],
 ['NYT', '1942', 378],
 ['NYT', '1976', 337],
 ['NYT', '1989', 833],
 ['NYT', '1993', 1182],
 ['NYT', '2012', 1467],
 ['NYT', '1933', 477],
 ['NYT', '1957', 414],
 ['NYT', '1931', 329],
 ['NYT', '1987', 901],
 ['NYT', '1979', 632],
 ['NYT', '2001', 1089],
 ['NYT', '1958', 523],
 ['NYT', '1983', 745],
 ['NYT', '2013', 1461],
 ['NYT', '1975', 255],
 ['NYT', '1951', 390],
 ['NYT', '1956', 347],
 ['NYT', '2017', 1300],
 ['NYT', '1960', 401],
 ['NYT', '1930', 281],
 ['NYT', '1977', 413],
 ['NYT', '2006', 965],
 ['NYT', '1996', 1130],
 ['NYT', '1910', 2],
 ['NYT', '2000', 1042],
 ['NYT', '2008', 1342],
 ['NYT', '1915', 2],
 ['NYT', '2004', 687],
 ['NYT', '1964', 502],
 ['NYT', '1962', 417],
 ['NYT', '1995', 970],
 ['NYT', '1921', 1],
 ['NYT', '1978', 428],
 ['NYT', '1974', 297],
 ['NYT', '2009', 1340],
 ['NYT', '1946', 355],
 ['NYT', '1926', 211],
 ['NYT', '1935', 555],
 ['NYT', '1939', 434],
 ['NYT', '1968', 492],
 ['NYT', '1953', 609],
 ['NYT', '1966', 362],
 ['NYT', '1961', 425],
 ['NYT', '1949', 616],
 ['NYT', '1943', 271],
 ['NYT', '2005', 38],
 ['NYT', '1923', 0],
 ['NYT', '1959', 496],
 ['NYT', '1955', 379],
 ['NYT', '1982', 674],
 ['NYT', '1925', 308],
 ['NYT', '1973', 396],
 ['NYT', '1950', 454],
 ['NYT', '1924', 93],
 ['NYT', '2002', 1281],
 ['NYT', '1929', 389],
 ['NYT', '1969', 557],
 ['NYT', '1988', 999],
 ['NYT', '1984', 710],
 ['NYT', '1990', 889],
 ['NYT', '1992', 1031],
 ['NYT', '2011', 1567],
 ['NYT', '1954', 491],
 ['NYT', '1916', 0],
 ['NYT', '1999', 1112],
 ['NYT', '2019', 67],
 ['NYT', '1952', 580],
 ['NYT', '1941', 396],
 ['NYT', '2015', 1420],
 ['NYT', '1937', 190],
 ['NYT', '2018', 1458],
 ['NYT', '1940', 545],
 ['NYT', '2016', 1435],
 ['NYT', '1967', 410],
 ['NYT', '1920', 1151],
 ['NYT', '1980', 39],
 ['NYT', '1944', 382],
 ['NYT', '1981', 567],
 ['NYT', '1998', 1124],
 ['NYT', '1936', 541],
 ['NYT', '1972', 486],
 ['NYT', '1985', 772],
 ['NYT', '1934', 503],
 ['NYT', '1994', 1027],
 ['NYT', '1970', 410],
 ['NYT', '1971', 497],
 ['NYT', '1986', 837],
 ['NYT', '2014', 1530],
 ['NYT', '1948', 508],
 ['NYT', '1932', 439],
 ['NYT', '2007', 1281],
 ['NYT', '1938', 151],
 ['NYT', '2003', 1022],
 ['NYT', '1963', 363],
 ['NYT', '1991', 1116],
 ['NYT', '1947', 474],
 ['NYT', '1945', 273],
 ['CORE', 'Interactive_Discussion', 2535],
 ['CORE', 'Information_Persuasion', 1522],
 ['CORE', 'Narrative', 13011],
 ['CORE', 'Opinion', 15686],
 ['CORE', 'Lyrical', 152],
 ['CORE', 'Information_Description', 8812],
 ['CORE', 'How-to__Instructional', 1570],
 ['CORE', 'Spoken', 1236]]

In [12]:
# converting all arrays to dataframes for quick and easy calculations later

df1 = pd.DataFrame(total_word_counts[1:], columns=total_word_counts[0])
df2 = pd.DataFrame(total_adv_adj_counts[1:], columns=total_adv_adj_counts[0])
df3 = pd.DataFrame(total_hapax_legomena_counts[1:], columns=total_hapax_legomena_counts[0])

In [13]:
# merge all dataframes into one big one

corpus_df = df1.merge(df2, on='corpus').merge(df3, on='corpus')
corpus_df

  corpus  num_words  adv_adj_counts  hapax_legomena_counts
0   COCA  522486161          192751                 128845
1    NYT   16689298           45771                  37118

In [14]:
# calculate relative frequencies

corpus_df['adv_adj_freqmil'] = corpus_df['adv_adj_counts'] / corpus_df['num_words'] * 1000000
corpus_df['hapax_legomena_freqmil'] = corpus_df['hapax_legomena_counts'] / corpus_df['num_words'] * 1000000

In [15]:
corpus_df

,corpus,num_words,adv_adj_counts,hapax_legomena_counts,adv_adj_freqmil,hapax_legomena_freqmil
0,COCA,522486161,192751,128845,368.911206,246.599833
1,NYT,16689298,45771,37118,2742.535965,2224.059993

In [16]:
# same process for genres

df1 = pd.DataFrame(genre_word_counts[1:], columns=genre_word_counts[0])
df2 = pd.DataFrame(genre_adv_adj_counts[1:], columns=genre_adv_adj_counts[0])
df3 = pd.DataFrame(genre_hapax_legomena_counts[1:], columns=genre_hapax_legomena_counts[0])

In [17]:
df1

    corpus     genre  num_words
0     COCA    Spoken  107967025
1     COCA      News   99507332
2     COCA  Magazine  108315219
3     COCA   Fiction  103422167
4     COCA  Academic  103274418
5      NYT      1915        696
6      NYT      1916        852
7      NYT      1921       1060
8      NYT      1923        331
9      NYT      1924      41661
10     NYT      1925     173527
11     NYT      1926     103028
12     NYT      1927      88640
13     NYT      1928     144421
14     NYT      1929     167730
15     NYT      1930     150095
16     NYT      1931     177937
17     NYT      1932     205237
18     NYT      1933     196341
19     NYT      1934     171464
20     NYT      1935     155712
21     NYT      1936     175797
22     NYT      1937      53731
23     NYT      1938      50193
24     NYT      1939     131466
25     NYT      1940     144511
26     NYT      1941     115224
27     NYT      1942     103499
28     NYT      1943      86984
29     NYT      1944      94849
..     ...       ...        ...
75     NYT      1990     209384
76     NYT      1991     245788
77     NYT      1992     253086
78     NYT      1993     256285
79     NYT      1994     248878
80     NYT      1995     241776
81     NYT      1996     258082
82     NYT      1997     263877
83     NYT      1998     276272
84     NYT      1999     287427
85     NYT      2000     343686
86     NYT      2001     340280
87     NYT      2002     375224
88     NYT      2003     310410
89     NYT      2004     194317
90     NYT      2005       7013
91     NYT      2006     269696
92     NYT      2007     356185
93     NYT      2008     355767
94     NYT      2009     361576
95     NYT      2010     375422
96     NYT      2011     425715
97     NYT      2012     356459
98     NYT      2013     365428
99     NYT      2014     388537
100    NYT      2015     367919
101    NYT      2016     351403
102    NYT      2017     311811
103    NYT      2018     313572
104    NYT      2019      11669

[105 rows x 3 columns]

In [18]:
df2

         corpus                    genre  adv_adj_counts
0    sfu_review                   HOTELS              89
1    sfu_review                   MOVIES              95
2    sfu_review                    BOOKS              53
3    sfu_review                 COOKWARE              34
4    sfu_review                   PHONES              31
5    sfu_review                     CARS             139
6    sfu_review                COMPUTERS              82
7    sfu_review                    MUSIC             112
8          COCA                 Magazine           75984
9          COCA                 Academic           63999
10         COCA                  Fiction           54574
11         COCA                     News           54082
12         COCA                   Spoken           34729
13          NYT                     1927             230
14          NYT                     1928             388
15          NYT                     1997            1119
16          NYT                     2010            1478
17          NYT                     1965             444
18          NYT                     1942             386
19          NYT                     1976             346
20          NYT                     1989             856
21          NYT                     1993            1221
22          NYT                     2012            1544
23          NYT                     1933             540
24          NYT                     1957             417
25          NYT                     1931             368
26          NYT                     1987             943
27          NYT                     1979             650
28          NYT                     2001            1136
29          NYT                     1958             538
..          ...                      ...             ...
93          NYT                     1980              39
94          NYT                     1944             387
95          NYT                     1981             594
96          NYT                     1998            1166
97          NYT                     1936             576
98          NYT                     1972             497
99          NYT                     1985             799
100         NYT                     1934             542
101         NYT                     1994            1060
102         NYT                     1970             420
103         NYT                     1971             509
104         NYT                     1986             866
105         NYT                     2014            1591
106         NYT                     1948             520
107         NYT                     1932             482
108         NYT                     2007            1324
109         NYT                     1938             157
110         NYT                     2003            1062
111         NYT                     1963             370
112         NYT                     1991            1155
113         NYT                     1947             481
114         NYT                     1945             277
115        CORE   Interactive_Discussion            3466
116        CORE   Information_Persuasion            1901
117        CORE                Narrative           17223
118        CORE                  Opinion           20581
119        CORE                  Lyrical             168
120        CORE  Information_Description           11401
121        CORE    How-to__Instructional            1868
122        CORE                   Spoken            1457

[123 rows x 3 columns]

In [19]:
genre_df = df1.merge(df2, on=['corpus', 'genre']).merge(df3, on=['corpus', 'genre'])#.merge(df4, on=['corpus', 'genre'])
genre_df

    corpus     genre  num_words  adv_adj_counts  hapax_legomena_counts
0     COCA    Spoken  107967025           34729                  23138
1     COCA      News   99507332           54082                  39213
2     COCA  Magazine  108315219           75984                  54816
3     COCA   Fiction  103422167           54574                  41222
4     COCA  Academic  103274418           63999                  45509
5      NYT      1915        696               2                      2
6      NYT      1916        852               0                      0
7      NYT      1921       1060               1                      1
8      NYT      1923        331               0                      0
9      NYT      1924      41661              94                     93
10     NYT      1925     173527             337                    308
11     NYT      1926     103028             235                    211
12     NYT      1927      88640             230                    211
13     NYT      1928     144421             388                    355
14     NYT      1929     167730             437                    389
15     NYT      1930     150095             327                    281
16     NYT      1931     177937             368                    329
17     NYT      1932     205237             482                    439
18     NYT      1933     196341             540                    477
19     NYT      1934     171464             542                    503
20     NYT      1935     155712             593                    555
21     NYT      1936     175797             576                    541
22     NYT      1937      53731             195                    190
23     NYT      1938      50193             157                    151
24     NYT      1939     131466             452                    434
25     NYT      1940     144511             568                    545
26     NYT      1941     115224             408                    396
27     NYT      1942     103499             386                    378
28     NYT      1943      86984             277                    271
29     NYT      1944      94849             387                    382
..     ...       ...        ...             ...                    ...
75     NYT      1990     209384             916                    889
76     NYT      1991     245788            1155                   1116
77     NYT      1992     253086            1080                   1031
78     NYT      1993     256285            1221                   1182
79     NYT      1994     248878            1060                   1027
80     NYT      1995     241776            1004                    970
81     NYT      1996     258082            1167                   1130
82     NYT      1997     263877            1119                   1081
83     NYT      1998     276272            1166                   1124
84     NYT      1999     287427            1146                   1112
85     NYT      2000     343686            1090                   1042
86     NYT      2001     340280            1136                   1089
87     NYT      2002     375224            1335                   1281
88     NYT      2003     310410            1062                   1022
89     NYT      2004     194317             705                    687
90     NYT      2005       7013              38                     38
91     NYT      2006     269696            1003                    965
92     NYT      2007     356185            1324                   1281
93     NYT      2008     355767            1414                   1342
94     NYT      2009     361576            1396                   1340
95     NYT      2010     375422            1478                   1410
96     NYT      2011     425715            1649                   1567
97     NYT      2012     356459            1544                   1467
98     NYT      2013     365428            1529                   1461
99     NYT      2014     388537            1591                   1530
100    NYT      2015     367919            1483                   1420
101    NYT      2016     351403            1487                   1435
102    NYT      2017     311811            1346                   1300
103    NYT      2018     313572            1511                   1458
104    NYT      2019      11669              68                     67

[105 rows x 5 columns]

In [20]:
genre_df['adv_adj_freqmil'] = genre_df['adv_adj_counts'] / genre_df['num_words'] * 1000000
genre_df['hapax_legomena_freqmil'] = genre_df['hapax_legomena_counts'] / genre_df['num_words'] * 1000000

In [21]:
genre_df

,corpus,genre,num_words,adv_adj_counts,hapax_legomena_counts,adv_adj_freqmil,hapax_legomena_freqmil
0,COCA,Spoken,107967025,34729,23138,321.663026,214.306174
1,COCA,News,99507332,54082,39213,543.497639,394.071464
2,COCA,Magazine,108315219,75984,54816,701.508068,506.078467
3,COCA,Fiction,103422167,54574,41222,527.681846,398.579929
4,COCA,Academic,103274418,63999,45509,619.698481,440.660920
5,NYT,1915,696,2,2,2873.563218,2873.563218
6,NYT,1916,852,0,0,0.000000,0.000000
7,NYT,1921,1060,1,1,943.396226,943.396226
8,NYT,1923,331,0,0,0.000000,0.000000
9,NYT,1924,41661,94,93,2256.306858,2232.303593
10,NYT,1925,173527,337,308,1942.060890,1774.939923
11,NYT,1926,103028,235,211,2280.933339,2047.986955
12,NYT,1927,88640,230,211,2594.765343,2380.415162
13,NYT,1928,144421,388,355,2686.589900,2458.091275
14,NYT,1929,167730,437,389,2605.377690,2319.203482
15,NYT,1930,150095,327,281,2178.620207,1872.147640
16,NYT,1931,177937,368,329,2068.147715,1848.969017
17,NYT,1932,205237,482,439,2348.504412,2138.990533
18,NYT,1933,196341,540,477,2750.317050,2429.446728
19,NYT,1934,171464,542,503,3161.013391,2933.560398
20,NYT,1935,155712,593,555,3808.312783,3564.272503
21,NYT,1936,175797,576,541,3276.506425,3077.413153
22,NYT,1937,53731,195,190,3629.189853,3536.133703
23,NYT,1938,50193,157,151,3127.926205,3008.387624
24,NYT,1939,131466,452,434,3438.151309,3301.233779
25,NYT,1940,144511,568,545,3930.496640,3771.339206
26,NYT,1941,115224,408,396,3540.928973,3436.784003
27,NYT,1942,103499,386,378,3729.504633,3652.209200
28,NYT,1943,86984,277,271,3184.493700,3115.515497
29,NYT,1944,94849,387,382,4080.169533,4027.454164
...,...,...,...,...,...,...,...
75,NYT,1990,209384,916,889,4374.737325,4245.787644
76,NYT,1991,245788,1155,1116,4699.171644,4540.498316
77,NYT,1992,253086,1080,1031,4267.324151,4073.714073
78,NYT,1993,256285,1221,1182,4764.227325,4612.052988
79,NYT,1994,248878,1060,1027,4259.114908,4126.519821
80,NYT,1995,241776,1004,970,4152.604063,4011.978029
81,NYT,1996,258082,1167,1130,4521.818647,4378.453360
82,NYT,1997,263877,1119,1081,4240.612103,4096.605615
83,NYT,1998,276272,1166,1124,4220.478369,4068.454277
84,NYT,1999,287427,1146,1112,3987.099333,3868.808428
85,NYT,2000,343686,1090,1042,3171.499566,3031.837200
86,NYT,2001,340280,1136,1089,3338.427178,3200.305631
87,NYT,2002,375224,1335,1281,3557.874763,3413.960727
88,NYT,2003,310410,1062,1022,3421.281531,3292.419703
89,NYT,2004,194317,705,687,3628.092241,3535.460099
90,NYT,2005,7013,38,38,5418.508484,5418.508484
91,NYT,2006,269696,1003,965,3719.002136,3578.102753
92,NYT,2007,356185,1324,1281,3717.169448,3596.445667
93,NYT,2008,355767,1414,1342,3974.511408,3772.131760
94,NYT,2009,361576,1396,1340,3860.875722,3705.998186
95,NYT,2010,375422,1478,1410,3936.903005,3755.773503
96,NYT,2011,425715,1649,1567,3873.483434,3680.866307
97,NYT,2012,356459,1544,1467,4331.493945,4115.480322
98,NYT,2013,365428,1529,1461,4184.134768,3998.051600
99,NYT,2014,388537,1591,1530,4094.848110,3937.848905
100,NYT,2015,367919,1483,1420,4030.778514,3859.545172
101,NYT,2016,351403,1487,1435,4231.608723,4083.630476
102,NYT,2017,311811,1346,1300,4316.717499,4169.192235
103,NYT,2018,313572,1511,1458,4818.670034,4649.649841
104,NYT,2019,11669,68,67,5827.405947,5741.708801

In [22]:
# write results to 2 CSV files

corpus_df.to_csv('corpus_stats.csv', index=None)
genre_df.to_csv('genre_stats.csv', index=None)